html,body,.container_nob,.content,#map-canvas {
	height:100%;
	width:100%
}

* {
	font-family:'Roboto',sans-serif
}

/*MENU*/
#menu {
	height:100%;
	background-color:#11171C;
	/*max-width:300px*/
}

.content {
	margin-left:0
}

#map-container {
	height:100%;
	padding:0
}

#logo {
	background-color:#CE4F4D;
	padding:10px;
	text-align:center
}

#logo h2 {
	color:#fff
}

#search-container {
	position:absolute;
	width:40%;
	margin:auto;
	z-index:200;
	left:30%;
	top:50px
}

#search-container .input-group,#search-container input {
	width:100%
}

/*Auto Complete list*/
.autocompletelist {
	opacity:.8;
	padding:0;
	z-index:20
}

.autocompletelist li {
	list-style:none;
	background-color:#fff;
	border-bottom:solid 1px #e8e8e8;
	padding:5px 10px
}

.autocompletelist li:hover {
	opacity:1
}

#circles,#filters {
	padding:10px
}

.menuItem h3 {
	color:#394952;
	font-size:20px
}

.menuItem li {
	list-style:none;
	font-size:16px;
	color:#fff;
	opacity:.8
}

#following {
	border:solid 2px #A2CB4F
}

#in-theater {
	border:solid 2px #4f64cb
}

#now-showing {
	border:solid 2px #B64FCB
}

li .selected {
	font-size:20px;
	float:right
}

/*INFO BOX*/
.info-box {
	width:300px
}

.info-box img {
	max-width:30%;
	float:left
}

.info-box .details {
	float:right;
	width:70%;
	padding:5px
}

.info-box h3 {
	margin:0
}

.info-box button {
	position:absolute;
	right:0;
	bottom:5px
}

/*DETAILS*/
.details-slider {
	background:#fff;
	position:fixed;
	right:-400px
}

.details-slider {
	width:400px;
	height:100%;
	top:0;
	z-index:1000
}

/* Vertical menu that slides from the left or right */
.details-slider.details-slider-open {
	right:0
}

.details-slider,.details-slider {
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease
}

.details-slider .row {
	margin:0
}

.details-slider #titleInfo {
	padding:5px 5px 10px;
}

.title {
	margin-bottom:0
}

.title span {
	float:right
}

.details-slider #synopsis {
	max-height:80px;
	overflow-y:scroll
}

.details-slider .ratings {
	padding:10px 5px
}


.details-slider .ratings i {
	font-size:24px
}

.details-slider .ratings span {
	float:right
}

.fa-star.true{
	color:#f1c40f
}
.poster_img{
	padding: 0px;
}
.poster_img img{
	width: 100%;
}
.details-slider #uber {
	text-align:center
}
.details .endline
.details-slider #uber {
	padding:10px 5px;
}

.close-button {
	font-size:20px;
	width:90%;
	margin:auto
}

.circle {
	position:relative;
	top:20px;
	left:-30px;
	width:20px;
	height:20px;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	background:transparent;
	z-index:1
}