html, body{
	height: 100%; 
	margin: 0; 
	padding: 0;
	background-color: #fff !important;
}

#map-canvas { 
	height: 100%; 
	width: 100%;
	margin: 0; 
	padding: 0;
	background-color: #fff;
}
.navbar.navbar, .navbar-default.navbar{
	background-color: #fff;
	color: #333;
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
	margin-bottom: 0px;
	z-index: 10;
}
#searchBox{
	position: absolute;
	float: right;
	top: 100px;
	text-align: center;
	left: 50%;
	margin-left: -25%;
	width: 50%;
	padding: 5px;

}
#searchBox i{
	font-size: 40px;
	float: left;
	width: 10%;

}
#searchBox input{
	width: 90%;
	font-size: 20px;
	height: 40px;
}
#filterBox{
	position: absolute;
	top: 100px;
	height: 300px;
	right: 50px;
	width: 300px;
	/*padding: 5px;*/
}














.cover-sm{
	width: 30%;
}

.moveinfo-sm{
	width: 70%;
	float: right;
	padding: 5px;

}
.moveinfo-sm h3{
	margin-top: 0px;
}
















/*CSS LOADER*/

.loader-wrapper {
  left: 50%;
  position: absolute;
  top: 50%;  
  -webkit-transform: translate(-50%,-50%);  
      -ms-transform: translate(-50%,-50%);  
          transform: translate(-50%,-50%);
}
.loader  {
  -webkit-animation: rotate 1s infinite;
          animation: rotate 1s infinite;  
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  -webkit-animation: ball1 1s infinite;
          animation: ball1 1s infinite;  
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  -webkit-animation: ball2 1s infinite;
          animation: ball2 1s infinite; 
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@-webkit-keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) sacale(0.8); 
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
  }
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) sacale(0.8); 
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
  }
}

@-webkit-keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@-webkit-keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}






/* Styles Begin Here */
 * {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
}
body {
    background-color: #e1e1e1;
    font-family: Helvetica, Arial, sans-serif;
}
div.container {
    float: left;
    display: block;
    margin: 100px;
    position: relative;
}
div.ring {
    display: block;
    float: left;
    position: absolute;
    border-radius: 55px;
    padding: 50px;
    transform: scale(.25);
    -ms-transform: scale(.25);
    /* IE 9 */
    -webkit-transform: scale(.25);
    /* Safari and Chrome */
    -o-transform: scale(.25);
    /* Opera */
    -moz-transform: scale(.25);
    /* Firefox */
    -webkit-transform-origin: center;
    animation-iteration-count: infinite;
    /* W3C and Opera */
    -moz-animation-iteration-count: infinite;
    /* Firefox */
    -webkit-animation-iteration-count: infinite;
    /*Safari and Chrome*/
    -webkit-transform-origin: center;
}
.ping {
    top: -35px;
    left: -35px;
    border: solid #FFF 3px;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: ping;
    -webkit-animation-name: ping;
}
.small-ping {
    top: -42px;
    left: -42px;
    border: double #77d2ff 10px;
    -moz-animation-duration: .75s;
    -webkit-animation-duration: .75s;
    -moz-animation-name: smallping;
    -webkit-animation-name: smallping;
}
@-webkit-keyframes ping {
    from {
        transform: scale(.25);
        -ms-transform: scale(.25);
        /* IE 9 */
        -webkit-transform: scale(.25);
        /* Safari and Chrome */
        -o-transform: scale(.25);
        /* Opera */
        -moz-transform: scale(.25);
        /* Firefox */
        opacity: 1;
    }
    to {
        transform: scale(1);
        -ms-transform: scale(1);
        /* IE 9 */
        -webkit-transform: scale(1);
        /* Safari and Chrome */
        -o-transform: scale(1);
        /* Opera */
        -moz-transform: scale(1);
        /* Firefox */
        opacity: 0;
    }
}
@-webkit-keyframes smallping {
    from {
        transform: scale(.1);
        -ms-transform: scale(.1);
        /* IE 9 */
        -webkit-transform: scale(.1);
        /* Safari and Chrome */
        -o-transform: scale(.1);
        /* Opera */
        -moz-transform: scale(.1);
        /* Firefox */
        opacity: 1;
    }
    to {
        color: white;
        transform: scale(.55);
        -ms-transform: scale(.55);
        /* IE 9 */
        -webkit-transform: scale(.55);
        /* Safari and Chrome */
        -o-transform: scale(.55);
        /* Opera */
        -moz-transform: scale(.55);
        /* Firefox */
        opacity: 0;
    }
}
.container a {
    width: 30px;
    height: 30px;
    position: absolute;
    text-decoration: none;
    background-color: #77d2ff;
    border-radius: 55px;
    border: dotted 3px;
    -moz-animation-duration: .75s;
    -webkit-animation-duration: .75s;
    -moz-animation-name: breathe;
    -webkit-animation-name: breathe;
    animation-iteration-count: infinite;
    /* W3C and Opera */
    -moz-animation-iteration-count: infinite;
    /* Firefox */
    -webkit-animation-iteration-count: infinite;
    /*Safari and Chrome*/
    animation-direction:alternate;
    /* W3C and Opera */
    -moz-animation-direction:alternate;
    /* Firefox */
    -webkit-animation-direction:alternate;
    /* Safari and Chrome */
    animation-delay:0s;
    /* W3C and Opera */
    -moz-animation-delay:0s;
    /* Firefox */
    -webkit-animation-delay:0s;
    /* Safari and Chrome */
}
@-webkit-keyframes breathe {
    from {
        border-color: #68b9e2;
        background-color: #77d2ff;
    }
    to {
        border-color: #68b9e2;
        background-color: #6dc1ec;
    }
}