<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">

	<title>Movie Pins</title>
	<meta content="Codrops" name="Shakir Thowseen">
	<link href="../favicon.ico" rel="shortcut icon">
	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"><!-- <script type="text/javascript" src="js/markerclusterer.js"></script> -->
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB0cQlagGlUST2hpffrb8_sFMCTvwsV_l8" type="text/javascript"></script>
	<link href="css/main.css" rel="stylesheet">
</head>

<body>
	<div class="container_nob">
		<div class="content row">
			<div class="col-sm-3 col-md-3 col-lg-3" id="menu">
				<div class="row" id="logo">
					<h2>MOVIE PINS</h2>
				</div>

				<div class="row menuItem" id="circles">
					<h3><i class="fa fa-circle-thin"></i> Movie Circles</h3>

					<ul>
						<li>
							<div class="circle" id="following"></div>Following <span class="selected fa fa-angle-right" style="font-style: italic"></span>
						</li>

						<li>
							<div class="circle" id="in-theater"></div>In Theaters
						</li>

						<li>
							<div class="circle" id="now-showing"></div>Now Shooting
						</li>
					</ul>
				</div>

				<div class="row menuItem" id="filters">
					<h3><i class="fa fa-filter"></i> Filters</h3>
				</div>
			</div>

			<div class="col-sm-9 col-md-9 col-lg-9" id="map-container">
				<div id="search-container">
					<div class="input-group" id="search-input">
						<input class="form-control" placeholder="Search" type="text">
					</div>

					<ul class="autocompletelist"></ul>
				</div>

				<div id="map-canvas"></div>
			</div>
		</div>

		<div class="details-slider" id="cbp-spmenu-s2"></div>
	</div><!-- /container -->
	<script id="details-slider-template" type="text/template">

					<img src='images/placeholder.png' width="100%">
					<div class="row" id="titleInfo">
							<h5 class="title"> <strong><%= title %></strong> (<%= year %>) <span><%= runtime %> min</span></h5>
							<p class="genres">Actions, Adventure</p>
							<p id="synopsis"><%= synopsis %></p>
							<strong>Director: </strong><span> James Bob</span><br>
							<strong>Stars: </strong><span> <%= cast_1%>, <%= cast_2%></span>
					</div>  
					<div class="row ratings">
						<div class="col-md-6 col-sm-6 col-lg-6">
							<i class="fa fa-star <%= a.one %>"></i>
							<i class="fa fa-star <%= a.two %>"></i>
							<i class="fa fa-star <%= a.three %>"></i>
							<i class="fa fa-star <%= a.four %>"></i>
							<i class="fa fa-star <%= a.five %>"></i>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6"><span>Audience Rating</span></div>
					</div>

					<div class="row ratings ratings_c">
						<div class="col-md-6 col-sm-6 col-lg-6">
							<i class="fa fa-star <%= c.one %>"></i>
							<i class="fa fa-star <%= c.two %>"></i>
							<i class="fa fa-star <%= c.three %>"></i>
							<i class="fa fa-star <%= c.four %>"></i>
							<i class="fa fa-star <%= c.five %>"></i>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6"><span>Critic Rating</span></div>
					</div



					<div class="row" id="uber">
						<div class="col-md-3 col-sm-3 col-lg-3">
							<img src="images/uber.jpg" width="50">
						</div>
						<div class="col-md-3 col-sm-3 col-lg-3"><span><i class="fa fa-map-marker"></i><br>5.61 mil</span></div>
						<div class="col-md-3 col-sm-3 col-lg-3"><span><i class="fa fa-clock-o"></i><br>20 min</span></div>
						<div class="col-md-3 col-sm-3 col-lg-3"><span><i class="fa fa-usd"></i><br>23</span></div>
						

					</div>

					<button class="close-button btn btn-danger btn-block" onclick="$(this).parent().removeClass('details-slider-open')"><i class="fa fa-times">Close </i></button>
			


	</script> <script id="autocomple-template" type="text/template">

	<%  _.each(items, function(item, i) {  console.log(item)%>
									<li  class='autocompleteItem' data-collection-index='<%= i %>'>
										<div class="row">
											<div class="col-md-2 col-sm-2"><i class="fa fa-film"></i></div>
											<div class="col-md-8 col-sm-6"><%= item.attributes.title %></div>
											<div class="col-md-2 col-sm-2"><%=item.attributes.release_year %></div>
										</div>
										<div class="row">
											<div class="col-md-2 col-sm-2"><i class="fa fa-map-marker"></i></div>
											<div class="col-md-10 col-sm-2"><%=item.attributes.locations %></div>
										</div>
									</li>

											<% }); %>

	</script> 
	<script src="//code.jquery.com/jquery-1.10.2.min.js">
	</script> <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> 
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script> 
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script> 
	<script src="js/main.js"></script> 
	<script src="https://apis.google.com/js/client.js?onload=loadApiClient"></script>
</body>
</html>